@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --background: #3D4A41;
    --surface: #4F5F54;

    --header-back: #6A7D70;
    --header-text: #F4F6F2;

    --footer-back: #2B352E;
    --footer-text: #C8D4CC;

    --borders: #6A7D70;

    --text-pri: #F4F6F2; 
    --text-sec: #C8D4CC; /* Dates etc. */

    --interactive: #5CC2BD;
    --interatext: #123836;
}

* {
    /* border: solid 1px black; */
    margin: 0;

    border-radius: 0.5em;
}

h1, h2:not(header h2), h3 {
    font-family: "Lora", serif;
    font-weight: 200;
    margin-bottom: 0.5em;
}

p {
    font-family: "Nunito", sans-serif;
    line-height: 1.5;
}

body {
    margin: 0.5em;

    background-color: var(--background);
}


/* HEADER SECTION */
header {
    margin-bottom: 2em;

    border-bottom: solid var(--footer-back);
    border-top: solid var(--footer-back);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em;

    background-color: var(--header-back);
    color: var(--header-text);

    font-family: "Lora", serif;
    letter-spacing: 0.5em;
}

header i {
    font-size: xx-large;
    color: var(--background);
}

header h2 {
    font-family: "Lora", serif;
    font-weight: 200;
}


/* MAIN SECTION */
main {
    margin-bottom: 2em;
    margin-left: 7.5em;
    margin-right: 7.5em;

    color: var(--text-pri);

    font-family: "Nunito", sans-serif;
}

main .about {
    display: grid;

    grid-template-columns: 1fr 2fr;

    gap: 0.5em;
}

main > div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;;
}

main .box {
    padding: 1em 3em;

    background-color: var(--surface);

    border-left: solid var(--borders);
    border-right: solid var(--borders);
}

.about .box:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FOOTER SECTION */
footer {
    display: flex;
    justify-content: center;

    padding: 0.5em;

    border-bottom: solid var(--surface);
    border-top: solid var(--surface);

    background-color: var(--footer-back);
    color: var(--footer-text);

    font-family: "Nunito", sans-serif;
    font-size: small;
}